html {
  font-size: 16px;
}

@media only screen and (min-resolution: 192dpi) {  
  html {
    font-size: 48px;
  }
}

.trmrk-container {
  padding-top: 1em;
}

.trmrk-container h1 {
  text-align: center;
}

.trmrk-warning {
  color: #FF0000;
  cursor: pointer;
}
