html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
    background-color: #000;
    color: #DDD;
}

code.trk-code {
	display: block;
    border: 1px solid #181818;
    overflow-x: scroll;
    overflow-y: scroll;
    display: block;
}

code.trk-code > pre.trk-code-pre {
	display: block;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    padding: 0.5em;
    height: 100%;
}

ul.trk-list {
    list-style-type: none;
    padding:0;
}

a.trk-link {
    font-weight: bold;
    color: #FFF;
}

a.trk-link.trk-parent {
    color: #8BF;
}

a.trk-link.trk-leaf {
    font-style: italic;
    color: #88F;
}

.trk-fine-print {
    font-size: 0.9em;
    color: #808080;
    font-style: italic;
}

.trk-label {
    margin-top: 0;
}

.trk-combo-box {
    margin-top: 0;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.1em;
    font-size: 1em;
}

.trk-fake-bottom-sticky {
    display: block;
    position: fixed;
    top: 100vh;
}

[_op] {
    color: #FFFFFF;
}

[_var] {
    color: #C0E0FF;
}

[_mmb] {
    color: #B0A0FF;
}

[_type] {
    color: #80B0E0;
}

[_ns] {
    color: #6090A0;
}

[_kw] {
    color: #A000A0;
}

[_cmnt] {
    color: #808080;
}

[_rgx] {
    color: #F000F0;
}

[_qt] {
    color: #B04040;
}

[_dg] {
    color: #FFD070;
}

[_br1] {
    color: #0080A0;
}

[_br2] {
    color: #608020;
}

/* width */
.trk-scrollable::-webkit-scrollbar {
  width: 1em;
}

/* Track */
.trk-scrollable::-webkit-scrollbar-track {
  background: #010101;
}

/* Handle */
.trk-scrollable::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
.trk-scrollable::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Corner */
.trk-scrollable::-webkit-scrollbar-corner {
  background: #010101;
  width: 1em;
}